* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Norse-Bold";
  src: url("assets/Norse-Bold.otf") format("opentype");
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  font-family: "Norse-Bold";
}

/* background - logo section */
.background-logo {
  height: 100vh;
  width: 50%;
  background-image: url("assets/yellow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.background-logo p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0; /* Reset default margin */
  position: absolute;
  bottom: 0;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.background-logo a {
  color: white;
}

.logo {
  margin-top: 35%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  /* top: 10%; */
}

.logo img {
  max-width: 63px;
  height: auto;
}

.odin-text {
  color: white;
  font-size: 2em;
  margin-left: 10px; /* Adjust as needed */
}

/* paragraph - logo section */
.brief-form {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
}

.brief-form p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 2.5em 0em 3em 0.9em;
}

.form {
  padding: 1em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1rem;
}

#password:invalid {
  border: 1px solid red;
}
input:focus {
  border: 2px solid blue; /* Blue border when the input is focused */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.2); /* Subtle blue box-shadow when focused */
  outline: none; /* Removes the default focus outline */
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 1em;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1em;
  margin: 0px, 4px;
}

button {
  width: 11em;
  height: 3em;
  color: white;
  background-color: #596d48;
  border-radius: 10px;
  border: none;
  font-size: 0.8rem;
  padding: 0em 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1em;
}

.log-in {
  padding: 0.5em 1em;
}

.log-in a {
  text-decoration: none;
  color: #596d48;
}
